In [1]:
print(1+1)

2

In [3]:
# The code was removed by Watson Studio for sharing.

    Economic Activities    Nepal
0                   GDP  24870.0
1       GDP growth rate      7.5
2        GDP per capita    848.7
3  Economy: Agriculture     29.4
4     Economy: Industry     14.6